  <li>ID: <%= cat.id %> </li>
  <li>Name:  <%= cat.name %> </li>
  <li>Birthdate:  <%= cat.birthdate %> </li>
  <li>Sex: <%= cat.sex %> </li>
  <li>Description: <%= cat.description %> </li>
  <li>Age: <%= cat.age %> </li>